/* CSS reset */
* {
    margin: 0px;
    box-sizing: border-box; /* element size includes padding and border */
}

body {
    background-color: rgb(223, 142, 142);
    color: whitesmoke;
    font-family: sans-serif;
}

.main {
    background-color: rgb(234, 156, 156);
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.main h1 {
    text-align: end;
}

.list{
    background-color: rgb(223,142,142);
    margin:10px;
    border-radius: 20px;
    padding: 50px 20px;
    flex-grow: 1;
}

.form{
    background-color: rgb(233,142,142);
    margin:10px;
    border-radius: 20px;
    padding: 50px 20px;
    display:flex;
    gap:10px;

}

.form input{
    font-size: 23px;
    border-radius: 15px;
    width:100%;
}

.form button {
    width:80px;
    background-color: inherit;
    border:2px solid palevioletred;
    color: palevioletred;
    border-radius:20px;
    font-size:20px;
}

.list-item{
    background-color: rgb(250, 160, 190);
    padding:15px;
    margin:10px;
    border-radius: 15px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10px;
    align-items: center;

}

.list-item label {
    font-size: 20px;
}

.list-item input {
    width: 20px;
    height:20px;
}